*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(226, 226, 226);
    font: 12pt times;
    background-image: url(./Background/sala.jpg);
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

.form{
    width: 400px;
    margin: auto;
    padding-top: 40px;
    height: 100vh;
    align-items: center;
   
         
}

.card{
    box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.13);
    background: white;
    padding: 35px;
    border-radius: 5px;
 
}

.card-top{
    text-align: center;

}

.img_log{
    border-radius: 30px;
    width: 100px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.titulo{
    color: brown;

}
.grupo > label{
    width: 100px;
    color: rgb(41, 40, 40);
    display: block;
    margin: auto;
    padding: 5px;
    align-items: center;
    text-align: center;
}
.grupo > input{
    border-radius: 5px;
    width: 100%;
    height: 30px;
    outline: 0;
    margin: auto;
    padding: 5px;
    align-items: center;
    text-align: center;
}
.grupo > button{
    width: 100%;
    height: 30px;
    margin: auto;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    
}
.grupo{
    margin-bottom: 5px;
        }